*::after::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body,html{
    width: 100%;
    height: 100%;
    background-color: rgb(185, 240, 240);
}
.container{
    background-color: white;
    max-width: 800px;
    margin: 80px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow:  0 0 5px 5px rgba(0, 0, 0, 0.2);
}
span{
    color: red;
}
form{
    width: 100%;
}
.form-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    width: 300px;
    height: 50px;
    border: 1px solid rgb(218, 211, 211);
    border-radius: 5px;
    outline: none;
    
}
.inputs input{
    margin-bottom: 10px;
}
.address input{
    width: 80%;
    margin-bottom: 20px;
}
.address-inputs{
    width: 89%;
    display: grid;
    grid-template-columns: 50% 50%;
}
input[type='radio']{
    width: auto;
    height: auto;
}
input[type='checkbox']{
    width: auto;
    height: auto;
    
}
input[type='date']::placeholder{
    text-transform: uppercase !important;
}
label{
    padding: 10px;
}

.col{
    display: flex;
    flex-direction: column;
}
.col span{
    color: black;
}
.row{
    display: grid;
    grid-template-columns: auto auto;
}
.day{
    display: grid;
    grid-template-columns: auto auto auto;
    /* width: 80%; */
}
select{
    width: 300px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid rgb(218, 211, 211);
}
/* .diff{
    width: 50%;
}
.diff-sel{
    width: 60%;
} */
hr{
    color: rgb(218, 211, 211) ;
}
.btn-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.btn{
    background-color: green;
    color: white;
    width: 100px;
    padding: 10px;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 5px;
}